<!-- lista_pedidos.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Pedidos</title>
</head>
<body>
    <h1>Lista de Pedidos</h1>
    <ul>
        {% for pedido in pedidos %}
            <li>
                <strong>Fecha del Pedido:</strong> {{ pedido.fecha_pedido }}<br>
                <strong>Dirección de Entrega:</strong> {{ pedido.direccion_entrega }}<br>
                <strong>Productos:</strong>
                <ul>
                    {% for producto in pedido.productos.all %}
                        <li>{{ producto.nombre }} - Precio: ${{ producto.precio }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
