<!-- lista_productos.html -->
<!DOCTYPE html>
<html>
<head>
    <!-- En el head de tu plantilla -->
    {% load pwa %}

    <!-- Agrega el manifest -->
    {% render_pwa_meta %}

    <!-- Registra el service worker -->
    {% render_pwa_sw %}

    <!-- Agrega esto si deseas que la aplicación se ejecute a pantalla completa en dispositivos móviles -->
    {% render_pwa_meta "fullscreen" %}

    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {% for producto in productos %}
            <li>{{ producto.nombre }} - Precio: ${{ producto.precio }}</li>
        {% endfor %}
    </ul>
</body>
</html>
